option default
option 3024-day
option 3024-night
option ambiance
//- option ambiance-mobile
option base16-dark
option base16-light
option blackboard
option cobalt
option eclipse
option elegant
option erlang-dark
option lesser-dark
option midnight
option monokai
option neat
option night
option paraiso-dark
option paraiso-light
option rubyblue
option solarized dark
option solarized light
option the-matrix
option tomorrow-night-eighties
option twilight
option vibrant-ink
option xq-dark
option xq-light