option default
option ambiance
option blackboard
option cobalt
option eclipse
option elegant
option erlang-dark
option lesser-dark
option midnight
option monokai
option neat
option night
option rubyblue
option solarized dark
option solarized light
option twilight
option vibrant-ink
option xq-dark
option xq-light