doctype 5
html(ng-app="goblint")
  head
    title= pageTitle
    link(href="components/bootstrap/docs/assets/css/bootstrap.css", rel="stylesheet", media="screen")
    link(href="components/angular-ui/build/angular-ui.min.css", rel="stylesheet")
    link(href="components/codemirror/lib/codemirror.css", rel="stylesheet")
    //- link(href="components/codemirror/theme/monokai.css", rel="stylesheet")
    != css('index')
    script(src="components/jquery/jquery.min.js")
    script(src="components/bootstrap/docs/assets/js/bootstrap.min.js")
    script(src="components/angular/angular.min.js")
    script(src="components/angular-resource/angular-resource.js")
    //- script(src="components/angular-cookies/angular-cookies.js")
    script(src="components/angular-ui/build/angular-ui.min.js")
    script(src="components/codemirror/lib/codemirror.js")
    script(src="components/codemirror/mode/clike/clike.js")
    script(src="components/codemirror/addon/edit/matchbrackets.js")
    script(src="components/codemirror/addon/edit/closebrackets.js")
    script(src="components/codemirror/addon/search/searchcursor.js")
    script(src="components/codemirror/addon/search/match-highlighter.js")
    style
      .CodeMirror-focused .cm-matchhighlight {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
        background-position: bottom;
        background-repeat: repeat-x;
      }
    script(src="components/codemirror/addon/display/placeholder.js")
    script
      'use strict';

      var app = angular.module('goblint', ['ngResource', 'ui']);
      app.config(function ($routeProvider, $locationProvider) {
          $routeProvider
            .when('/', {})
            .when('/file/:file', {}) // only used if a ng-view exists :(
            .otherwise({
              redirectTo: '/'
            });
            //- $locationProvider.html5Mode(true); // html5 pushState
        })
        .value('ui.config', {
          jq: {tooltip: {placement: 'right'}}
        });

      console.log("angular-ui ok");

      function SourceCtrl($scope, $location, $routeParams){
        $scope.newFile = function(text){
          if(!text) text = "";
          editor.setValue(text);
          editor.clearHistory();
          editor.markClean();
          valueChanged();
        };
        $scope.loadFile = function(f){
          $.get('/source/'+f, {}, function(data){
            $scope.newFile(data);
            console.log("loaded file", f);
            $.get('/result/'+f, {}, function(data){
              $('#result').text(data);
            });
          })
          .fail(function(){
            console.log('/source/'+f, 'failed');
            alert("The file "+$routeParams.file+" doesn't exist! Redirecting...");
            if(history.length > 1){
              history.back();
            }else{
              $location.path("/");
              $scope.$apply();
            }
          });
        };
        // gets called on every route change :(
        // alternative would be to add a route with a controller and a templateUrl pointing to a dummy file
        $scope.$on('$routeChangeSuccess', function(ev){
          //- console.log($location, $routeParams);
          if($routeParams.file){
            $scope.loadFile($routeParams.file);
            selectFile($routeParams.file);
          }else{
            $scope.newFile();
            selectFile(false); // deselect
          }
        });
        $scope.$on('$locationChangeStart', function(ev){
          if(!editor.isClean()){
            if(!confirm("You have unsaved changes! Discard them?"))
              ev.preventDefault(); // stopPropagation
          }
        });

        $scope.saveFile = function(){
          var file = $routeParams.file;
          var isNew = false;
          if(!file){
            file = prompt("New filename:");
            if(!file) return;
            isNew = true;
          }
          $.post('/source/'+file, {value: editor.getValue()}, function(){
            editor.markClean();
            valueChanged();
            console.log("saved file", file);
            if(isNew){
              $location.path("/file/"+file);
              $scope.$apply();
              location.reload(); // loads changed file list from server
            }
          });
        };
        $scope.renameFile = function(){
          if(!editor.isClean()){
            alert("File is dirty, safe first!");
            return;
          }
          var name = prompt("New filename:");
          if(!name) return;
          $.post('/source/'+$routeParams.file, {name: name}, function(){
            console.log("renamed file", $routeParams.file, "to", name);
            location.hash = "#/file/"+name;
            location.reload(); // loads changed file list from server
          });
        };
        $scope.deleteFile = function(){
          if(!confirm("Delete the file?")) return;
          $.ajax({url: '/source/'+$routeParams.file,
            type: 'DELETE',
            success: function(){
              $location.path("/");
              $scope.$apply();
              location.reload();
            }
          });
        };
      }

      function selectFile(file){
        $('#files a').removeClass('label');
        if(file) $("#files a:contains('"+file+"')").toggleClass('label');
      }

      function selectTheme() {
        var theme = $("#theme").val();
        var file = theme.split(' ')[0]+'.css';
        if(theme!="default" && !$("head link[rel='stylesheet'][href*='"+file+"']").length) // no default.css && file not added yet
          $(document.head).append($("<link/>").attr({rel: "stylesheet", href: "components/codemirror/theme/"+file}));
        editor.setOption("theme", theme);
      }

      function valueChanged(){
        $('#file-clean').toggle(editor.isClean());
        $('#file-dirty').toggle(!editor.isClean());
      }

  body
    include ie.fail.html
    .container-fluid(ng-controller="SourceCtrl")
      .row-fluid
        .span2
          a.btn.btn-small.btn-block(href="#/")
            i.icon.icon-plus
            |  empty file
          ul#files.nav
            each f in files
              li: a(href="#/file/"+f)= f
        .span10
          .btn-toolbar
            .btn-group
              a.btn(title="save", ui-jq="tooltip", ng-click="saveFile()"): i.icon-hdd
              a.btn(title="rename", ui-jq="tooltip", ng-click="renameFile()"): i.icon-pencil
              a.btn(title="delete", ui-jq="tooltip", ng-click="deleteFile()"): i.icon-trash
            .btn-group.form-inline
              label(for="theme") Theme:
              select#theme(onchange="selectTheme()")
                  option default
                  option ambiance
                  option blackboard
                  option cobalt
                  option eclipse
                  option elegant
                  option erlang-dark
                  option lesser-dark
                  option midnight
                  option monokai
                  option neat
                  option night
                  option rubyblue
                  option solarized dark
                  option solarized light
                  option twilight
                  option vibrant-ink
                  option xq-dark
                  option xq-light
          textarea#source(placeholder="Write new code here or select a file on the left...")
          script
            var editor = CodeMirror.fromTextArea(document.getElementById('source'), {
              mode: 'text/x-csrc', lineNumbers: true, matchBrackets: true, autoCloseBrackets: true, highlightSelectionMatches: true, theme: 'default'
            });
            editor.on('change', function(){
              //- console.log("content changed, clean:", editor.isClean());
              valueChanged();
            });
          div
            span#file-clean.label.label-success
              i.icon-ok.icon-white
              |  file clean
            span#file-dirty.label.label-warning.hide
              i.icon-warning-sign.icon-white
              |  file dirty
          div
            span.label.label-success
              i.icon-ok.icon-white
              |  no warnings
            span.label.label-warning
              i.icon-warning-sign.icon-white
              |  3 warnings
          textarea#result
          div(ng-view)
    if node_env=="development"
      // livereload snippet
      script
        document.write('<script src="http://'
         + (location.host || 'localhost').split(':')[0]
         + ':35729/livereload.js?snipver=1"><\/script>')
