doctype 5
html(ng-app="goblint")
  head
    title= pageTitle
    link(href="components/bootstrap/docs/assets/css/bootstrap.css", rel="stylesheet", media="screen")
    link(href="components/angular-ui/build/angular-ui.min.css", rel="stylesheet")
    link(href="components/codemirror/lib/codemirror.css", rel="stylesheet")
    link(href="components/codemirror/theme/monokai.css", rel="stylesheet")
    != css('index')
    script(src="components/jquery/jquery.min.js")
    script(src="components/bootstrap/docs/assets/js/bootstrap.min.js")
    script(src="components/angular/angular.min.js")
    script(src="components/angular-resource/angular-resource.js")
    //- script(src="components/angular-cookies/angular-cookies.js")
    script(src="components/angular-ui/build/angular-ui.min.js")
    script(src="components/codemirror/lib/codemirror.js")
    script(src="components/codemirror/mode/clike/clike.js")
    script(src="components/codemirror/addon/edit/matchbrackets.js")
    script
      'use strict';

      angular.module('goblint', ['ngResource', 'ui'])
        .config(function ($routeProvider) {
          $routeProvider
            .when('/', {})
            .when('/file/:file', {}) // only used if a ng-view exists :(
            .otherwise({
              redirectTo: '/'
            });
        });

      console.log("angular-ui ok");

      function SourceCtrl($scope, $location, $routeParams){
        $scope.sourceModel = "select a file on the left";
        $scope.loadFile = function (f){
          $.get('source/'+f, {}, function(data){
            // without wrapping $apply, the updates are one behind
            $scope.$apply(function(){ $scope.sourceModel = data });
            console.log("loaded file ", f);
          });
          $.get('result/'+f, {}, function(data){
            $('#result').text(data);
          });
        }
        // gets called on every route change :(
        // alternative would be to add a route with a controller and a templateUrl pointing to a dummy file
        $scope.$on('$routeChangeSuccess', function(){
          console.log($location, $routeParams);
          if($routeParams.file) $scope.loadFile($routeParams.file);
        });
      }

  body
    include ie.fail.html
    .container-fluid(ng-controller="SourceCtrl")
      .row-fluid
        .span2
          ul.unstyled
            each f in files
              li: a(href="#/file/"+f)= f
        .span10
          .toolbar
            a.btn: i.icon-hdd
          textarea#source(ui-codemirror="{mode: 'text/x-csrc', lineNumbers: true, matchBrackets: true, theme:'monokai'}", ng-model="sourceModel")
          textarea#result
          div(ng-view)
    if node_env=="development"
      // livereload snippet
      //- TODO: only works sometimes
      script
        document.write('<script src="http://'
         + (location.host || 'localhost').split(':')[0]
         + ':35729/livereload.js?snipver=1"><\/script>')
