doctype 5
html(ng-app="goblint")
  head
    title(ng-bind-template="{{title}} - goblint")
    link(href="components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet", media="screen")
    link(href="components/angular-ui/build/angular-ui.min.css", rel="stylesheet")
    link(href="components/codemirror/lib/codemirror.css", rel="stylesheet")
    link(href="components/codemirror/addon/display/fullscreen.css", rel="stylesheet")
    != css('index')
    script(src="components/jquery/jquery.min.js")
    script(src="components/underscore/underscore-min.js")
    script(src="components/bootstrap/dist/js/bootstrap.min.js")
    script(src="components/angular/angular.min.js")
    script(src="components/angular-route/angular-route.min.js")
    script(src="components/angular-resource/angular-resource.min.js")
    script(src="components/angular-ui/build/angular-ui.min.js")
    script(src="components/codemirror/lib/codemirror.js")
    script(src="components/codemirror/mode/clike/clike.js")
    script(src="components/codemirror/addon/edit/matchbrackets.js")
    script(src="components/codemirror/addon/edit/closebrackets.js")
    script(src="components/codemirror/addon/search/searchcursor.js")
    script(src="components/codemirror/addon/search/match-highlighter.js")
    script(src="components/codemirror/addon/display/fullscreen.js")
    style.
      .CodeMirror-focused .cm-matchhighlight {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
        background-position: bottom;
        background-repeat: repeat-x;
      }
    script(src="components/codemirror/addon/display/placeholder.js")
    script(src="components/socket.io-client/dist/socket.io.min.js")
    script(src="viz.js")
    != js('index')
    != js('editor')

  body
    include ie.fail.html
    .container(ng-controller="DirectoryCtrl")
      .row
        .col-md-12
          ol.breadcrumb
            li(ng-repeat="x in breadcrumb()"): a(ng-href="#/{{breadcrumb($index)}}") {{x}}
      .row
        .col-md-2
          #files.list-group
            a.list-group-item(ng-repeat="file in files", ng-class="{active: isLoaded(file.name)}", ng-href="#/{{makeLink(file.name)}}")
              {{file.name}}
              .badge(ng-show="file.modified") M
        .col-md-5(ng-controller="SourceCtrl")
          editor#source(ref="ref")
            a.btn.btn-default(title="rerun analysis",  ui-jq="tooltip", ng-click="analyze()"): i.glyphicon.glyphicon-refresh
            a.btn.btn-default(title="compile and run", ui-jq="tooltip", ng-click="run()"):     i.glyphicon.glyphicon-play
            a.btn.btn-default(title="open CIL CFG",    ui-jq="tooltip", ng-click="cfg()",  ng-disabled="compile_error"): i.glyphicon.glyphicon-picture
            a.btn.btn-default(title="open HTML result",ui-jq="tooltip", ng-click="html()", ng-disabled="compile_error"): i.glyphicon.glyphicon-link
          #result
            span(ng-show="compile_error").label.label-warning
              i.glyphicon.glyphicon-warning-sign.icon-white
              |  {{goblint.compile && "compile" || "goblint"}} error
            form.form-inline.well.well-sm
              .form-group
                select.form-control(ng-model="goblint.ana")
                  option file
                  option spec
              |  
              label.checkbox-inline
                input(type="checkbox", ng-model="goblint.compile")
                | use clang
              label.checkbox-inline(ng-show="goblint.ana=='file'")
                input(type="checkbox", ng-model="goblint.file.optimistic")
                | optimistic
              |  
              .form-group
                input.form-control(type="text", ng-model="goblint.options", placeholder="options...", title="--set foo true, --set bar false", ui-jq="tooltip")
            textarea#output.form-control(ng-model="output")
            form(ng-submit="shell()", ng-class="{'has-error': cmd_error}")
              input.form-control(type="text", ng-model="cmd", placeholder="shell...")
        .col-md-5(ng-controller="SpecCtrl", ng-show="shared.ana=='spec'")
          editor#spec(ref="ref")
            a.btn.btn-default(title="open graph as PNG", ui-jq="tooltip", ng-click="openImage()", ng-disabled="error_line"): i.glyphicon.glyphicon-picture
          span(ng-show="error_line").label.label-warning
            i.glyphicon.glyphicon-warning-sign.icon-white
            |  parse error on line {{error_line}}
          #graph
    form#helperform(method="POST", target="_blank")
      input(type="hidden", name="value")
    div(ng-view)

    if node_env=="development" && false
      // livereload snippet
      script.
        document.write('<script src="http://'
         + (location.host || 'localhost').split(':')[0]
         + ':35729/livereload.js?snipver=1"><\/script>')
