doctype 5
html(ng-app="goblint")
  head
    title(ng-bind-template="{{title}} - goblint")
    link(href="components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet", media="screen")
    link(href="components/angular-ui/build/angular-ui.min.css", rel="stylesheet")
    link(href="components/codemirror/lib/codemirror.css", rel="stylesheet")
    != css('index')
    script(src="components/jquery/jquery.min.js")
    script(src="components/underscore/underscore-min.js")
    script(src="components/bootstrap/dist/js/bootstrap.min.js")
    script(src="components/angular/angular.min.js")
    script(src="components/angular-route/angular-route.min.js")
    script(src="components/angular-resource/angular-resource.min.js")
    script(src="components/angular-ui/build/angular-ui.min.js")
    script(src="components/codemirror/lib/codemirror.js")
    script(src="components/codemirror/mode/clike/clike.js")
    script(src="components/codemirror/addon/edit/matchbrackets.js")
    script(src="components/codemirror/addon/edit/closebrackets.js")
    script(src="components/codemirror/addon/search/searchcursor.js")
    script(src="components/codemirror/addon/search/match-highlighter.js")
    style.
      .CodeMirror-focused .cm-matchhighlight {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
        background-position: bottom;
        background-repeat: repeat-x;
      }
    script(src="components/codemirror/addon/display/placeholder.js")
    script(src="components/socket.io-client/dist/socket.io.min.js")
    script(src="viz.js")
    != js('index')
    != js('editor')

  body
    include ie.fail.html
    .container(ng-controller="DirectoryCtrl")
      .row
        .col-md-12
          ol.breadcrumb
            li(ng-repeat="x in path"): a(ng-href="#/{{makeLink(path.slice(0, $index+1))}}") {{x}}
            li.active {{selectedFile}}
      .row
        .col-md-2
          #files.list-group
            a.list-group-item(ng-repeat="file in files", ng-class="{active: file.name==selectedFile}", ng-href="#/{{makeLink(path, file.name)}}")
              {{file.name}}
              .badge(ng-show="file.modified") M
        .col-md-5(ng-controller="SourceCtrl")
          editor#source(ref="ref")
            a.btn.btn-default(title="compile and run", ui-jq="tooltip", ng-click="run()"): i.glyphicon.glyphicon-play
          #result(ng-show="ref.file")
            span.label.label-success
              i.glyphicon.glyphicon-ok.icon-white
              |  no warnings
            span(ng-show="compile_error").label.label-warning
              i.glyphicon.glyphicon-warning-sign.icon-white
              |  compile error
            br
            textarea#output(ng-model="output")
        .col-md-5(ng-controller="SpecCtrl")
          editor#spec(ref="ref")
          span(ng-show="error_line").label.label-warning
            i.glyphicon.glyphicon-warning-sign.icon-white
            |  parse error on line {{error_line}}
          #spec-controls(ng-show="!error_line").btn-toolbar
            .btn-group
              form(action="/spec/png", method="POST", target="_blank")
                input(type="hidden", name="value")
                a.btn.btn-default(title="open graph as PNG", ui-jq="tooltip", ng-click="openImage()"): i.glyphicon.glyphicon-picture
          #graph
    div(ng-view)

    if node_env=="development" && false
      // livereload snippet
      script.
        document.write('<script src="http://'
         + (location.host || 'localhost').split(':')[0]
         + ':35729/livereload.js?snipver=1"><\/script>')
