doctype 5
html(ng-app="goblint")
  head
    title(ng-bind-template="{{title}} - goblint")
    link(href="components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet", media="screen")
    link(href="components/angular-ui/build/angular-ui.min.css", rel="stylesheet")
    link(href="components/codemirror/lib/codemirror.css", rel="stylesheet")
    //- link(href="components/codemirror/theme/monokai.css", rel="stylesheet")
    != css('index')
    script(src="components/jquery/jquery.min.js")
    script(src="components/bootstrap/dist/js/bootstrap.min.js")
    script(src="components/angular/angular.min.js")
    script(src="components/angular-resource/angular-resource.js")
    //- script(src="components/angular-cookies/angular-cookies.js")
    script(src="components/angular-ui/build/angular-ui.min.js")
    script(src="components/codemirror/lib/codemirror.js")
    script(src="components/codemirror/mode/clike/clike.js")
    script(src="components/codemirror/addon/edit/matchbrackets.js")
    script(src="components/codemirror/addon/edit/closebrackets.js")
    script(src="components/codemirror/addon/search/searchcursor.js")
    script(src="components/codemirror/addon/search/match-highlighter.js")
    style.
      .CodeMirror-focused .cm-matchhighlight {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
        background-position: bottom;
        background-repeat: repeat-x;
      }
    script(src="components/codemirror/addon/display/placeholder.js")
    script(src="components/socket.io-client/dist/socket.io.min.js")
    script(src="components/sugar/release/sugar.min.js")
    != js('index')

  body
    include ie.fail.html
    .container(ng-controller="SourceCtrl")
      .row
        .col-md-12
          ol.breadcrumb
            li(ng-repeat="x in path"): a(ng-href="#/files/{{encodeURI2(path.slice(0, $index+1))}}") {{x}}
            li.active {{selectedFile}}
      .row
        .col-md-2
          #files.list-group
            a.list-group-item(ng-repeat="file in files", ng-class="{active: file==selectedFile}", ng-href="#/{{file.last()!='/' && 'file' || 'files'}}/{{encodeURI2(path, file)}}") {{file}}
        .col-md-5
          .btn-toolbar
            .btn-group
              a.btn.btn-default(title="new file", ui-jq="tooltip", href="#/"): i.glyphicon.glyphicon-file
              a.btn.btn-default(title="save", ui-jq="tooltip", data-container="body", ng-click="saveFile()"): i.glyphicon.glyphicon-floppy-disk
              a.btn.btn-default(title="rename", ui-jq="tooltip", ng-click="renameFile()"): i.glyphicon.glyphicon-pencil
              a.btn.btn-default(title="delete", ui-jq="tooltip", ng-click="deleteFile()"): i.glyphicon.glyphicon-trash
            .btn-group
              span#file-clean.label.label-success
                i.glyphicon.glyphicon-check.icon-white
                |  file clean
              span#file-dirty.label.label-warning
                i.glyphicon.glyphicon-edit.icon-white
                |  file dirty
            .btn-group.form-inline.pull-right
              label(for="theme") Theme:
              select#theme(onchange="selectTheme()")
                include editor-themes.jade
          textarea#source(placeholder="Write new code here or select a file on the left...")
          script.
            var editor = CodeMirror.fromTextArea(document.getElementById('source'), {
              mode: 'text/x-csrc', lineNumbers: true, matchBrackets: true, autoCloseBrackets: true, highlightSelectionMatches: true, theme: 'default'
            });
            editor.on('change', function(){
              //- console.log("content changed, clean:", editor.isClean());
              valueChanged();
            });
          div
            span.label.label-success
              i.glyphicon.glyphicon-ok.icon-white
              |  no warnings
            span.label.label-warning
              i.glyphicon.glyphicon-warning-sign.icon-white
              |  3 warnings
          textarea#result
        .col-md-5
          textarea#spec(placeholder="Write new spec here or select a file on the left...")
          script.
            var spec = CodeMirror.fromTextArea(document.getElementById('spec'), {
              mode: 'text/x-csrc', lineNumbers: true, matchBrackets: true, autoCloseBrackets: true, highlightSelectionMatches: true, theme: 'default'
            });
            spec.on('change', function(){
              //- console.log("content changed, clean:", spec.isClean());
              valueChanged();
            });
    div(ng-view)
    if node_env=="development"
      // livereload snippet
      script.
        document.write('<script src="http://'
         + (location.host || 'localhost').split(':')[0]
         + ':35729/livereload.js?snipver=1"><\/script>')
