// CodeMirror
// http://codemirror.net/demo/resize.html
.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

// Bootstrap: disable responsive layout
.container
  max-width none !important
.icon-flipped
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);

md2w = 16.666666666666664% // width of col-md-2
#path
  position fixed
  width md2w
  top 0
  left 0
  right 0
#files
  position fixed
  width  md2w
  top 40px
  left 0
  bottom 0
  margin-bottom 0
  overflow-y auto
#output
  height 200px
#graph
  overflow-x auto
.warnings
  width 1.2em