// CodeMirror
// http://codemirror.net/demo/resize.html
.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

// Bootstrap: disable responsive layout
.container
  max-width none !important
.icon-flipped
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);

nav_offset = 50px
body
  padding-top nav_offset
#files
  position fixed
  width 16.666666666666664% // same as col-md-2
  top nav_offset
  bottom 0
  margin-bottom 0
  left 0
  overflow-y auto
#output
  height 200px
.warnings
  width 1.2em